@font-face {
  font-family:Gatwick-Bold;
  src: url("../fonts/Gatwick-Bold.otf");
}

@font-face{
  font-family:Gatwick-Light;
  src: url("../fonts/Gatwick-Ultralight.otf");
}

@font-face{
  font-family:Apercu-Light;
  src: url("..fonts/{Colophon} Aperçu Light Typeface.otf")
}
a{
  text-decoration:none;
}
h1{
  font-family: Gatwick-Bold;
  font-size: 5vw;
}

h2{
  font-family: Gatwick-Bold;
  font-size: 2rem;
  text-decoration:none;
}

h3{
  font-family:Gatwick-Light;
}

p{
  font-family: Apercu-Light;
  text-decoration:none;
}
