@font-face {
  font-family:Gatwick-Bold;
  src: url("../fonts/Gatwick-Bold.otf");
}

@font-face{
  font-family:Gatwick-Light;
  src: url("../fonts/Gatwick-Ultralight.otf");
}

@font-face{
  font-family:Apercu-Light;
  src: url("..fonts/{Colophon} Aperçu Light Typeface.otf")
}

@font-face{
  font-family:Apercu-Regular;
  src: url("..fonts/ApercuPro.ttf")
}

@font-face{
  font-family:Apercu-Bold;
  src: url("..fonts/ApercuPro-Bold.ttf")
}
.nav-links a{
    font-family:Apercu-Regular;
  text-decoration: none;
  line-height: 25px;
  font-size:13px;
  letter-spacing: 1px;
  text-align: right;
  text-transform: uppercase;
  color:black;
}
a{
  font-family: Apercu-Regular;
  text-decoration:none;
  color:black;
  font-size: 13px;
  letter-spacing:1px;
  text-transform: uppercase;

}
h1{
  font-family: Gatwick-Bold;
  font-size: 6vw;

}

h2 a{
  font-family: Gatwick-Bold;
  font-size: 2.5rem;
  text-decoration:none;
  letter-spacing: 3px;
}

h2{
  font-family: Gatwick-Bold;
  font-size: 2rem;
  text-decoration:none;
  letter-spacing: 3px;
}

h3{
  font-family:Gatwick-Light;
}

h4{
  font-family:Apercu-Bold;
  line-height: 2px;
  letter-spacing: 1.5px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight:normal;
}

h5{
  font-family: Gatwick-Bold;
  text-transform:uppercase;
}
p{
  font-family: Apercu-Light;
  text-decoration:none;
  font-size:15px;
  line-height: 22px;
}

.bio-intro{
  font-family: Gatwick-Light;
}

.bio-body{
  line-height:22px;
}
